In [37]:
# Inserting data

import mysql.connector

conn=mysql.connector.connect(
    host="localhost",
    user="root",
    password="9737892271",
    database="myDemo"
)

mycursor=conn.cursor()

query="INSERT INTO tbl_user (user_firstname, user_lastname, user_address, user_email, user_password) VALUES ('Jon', 'Beckham', '124apartments', '123@hotmail.com', '1234'), ('Know', 'Patel', '124apartments', '123@hotmail.com', '1234')"

mycursor.execute(query)

conn.commit()

print(mycursor.rowcount, "row inserted")

2 row inserted

In [28]:
# Reading data

mycursor.execute("SELECT * FROM tbl_user")

print(mycursor.fetchall())

[(1, 'Jon', 'Beckham', '124apartments', '123@hotmail.com', '1234'), (2, 'Know', 'Patel', '124apartments', '123@hotmail.com', '1234')]

In [40]:
# Updating data

mycursor.execute("UPDATE tbl_user SET user_firstname='Justin' WHERE user_id=1")

print(mycursor.rowcount, "rows udpated")

1 rows udpated

In [41]:
# Reading data

mycursor.execute("SELECT * FROM tbl_user")

print(mycursor.fetchall())

[(1, 'Justin', 'Patel', '124apartments', '123@hotmail.com', '1234'), (2, 'Jon', 'Beckham', '124apartments', '123@hotmail.com', '1234')]

In [42]:
# Deleting data

mycursor.execute("DELETE FROM tbl_user WHERE user_id=2")

print(mycursor.rowcount, "rows deleted")

1 rows deleted

In [43]:
# Reading data

mycursor.execute("SELECT * FROM tbl_user")

print(mycursor.fetchall())

[(1, 'Justin', 'Patel', '124apartments', '123@hotmail.com', '1234')]