In [4]:
# Connection to a database and inserting a table

import mysql.connector

conn=mysql.connector.connect(
    host="localhost",
    user="root",
    password="9737892271",
    database="python project"
)

mycursor=conn.cursor()

query="INSERT INTO testusers (name, age, number) VALUES ('Jatin', 22, 9876543210),('Dipen', 21, 1234567890), ('Jay', 05, 5432167890)"

mycursor.execute(query)

conn.commit()

print(mycursor.rowcount, "row inserted.")

3 row inserted.

In [5]:
# Fetching data from the database

mycursor.execute("SELECT * FROM testusers")

myresult= mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Jatin', 22, 9876543210)
(2, 'Jatin', 22, 9876543210)
(3, 'Dipen', 21, 1234567890)
(4, 'Jay', 5, 5432167890)

In [12]:
# Updating the Database

query="UPDATE testusers SET name='Meet' WHERE id=2"

mycursor.execute(query)

print(mycursor.rowcount, "row updated")

conn.commit()

1 row updated

In [13]:
#Checking the data

mycursor.execute("SELECT * FROM testusers")

myresult= mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Jatin', 22, 9876543210)
(2, 'Meet', 22, 9876543210)
(3, 'Dipen', 21, 1234567890)
(4, 'Jay', 5, 5432167890)

In [14]:
# Deleting data from the database

mycursor.execute("DELETE FROM testusers WHERE id=4")

print(mycursor.rowcount, "row deleted with id=4")

1 row deleted with id=4

In [15]:
#Checking the data

mycursor.execute("SELECT * FROM testusers")

myresult= mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Jatin', 22, 9876543210)
(2, 'Meet', 22, 9876543210)
(3, 'Dipen', 21, 1234567890)