In [3]:
#hello world program

print("Hello World!")

Hello World!

In [11]:
# Different types of variables

Int=10
Float=10.5
Complex=10+5j
String="I'm Know167"

print(Int)
print(Float)
print(Complex)
print(String)

10
10.5
(10+5j)
I'm Know167

In [12]:
# Assigning values to multiple variables in a single line

a, b, c, str = 20, 20.5, 20+10j, "I'm Know167"

print(a)
print(b)
print(c)
print(str)

20
20.5
(20+10j)
I'm Know167

In [18]:
# Assigning same value to multiple variables

a=b=c=30

print("value of 'a':",a)
print("value of 'b':",b)
print("value of 'c':",c)

value of 'a': 30
value of 'b': 30
value of 'c': 30

In [16]:
# Changing values assigned already

a=10

print("value first assigned to 'a':",a)

    #change value
a=20

print("value of 'a' after a change:",a)

value first assigned to 'a': 10
value of 'a' after a change: 20

In [27]:
# Finding data types using isinstance() and type() function

a=40
b=40.5
c=40+5j

str="Some String"

    print("using type function:")
    print(type(a))
    print(type(b))
    print(type(c))
    print(type(str))

#similarly for instanceof
print()
    print("using isinstance function")

    print(isinstance(a,int))
    print(isinstance(b,int))
    print(isinstance(c,complex))
    print(isinstance(str,float))

using type function:
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

using isinstance function
True
False
True
False

In [29]:
# Operations on Strings

    str="HelloWorld"

    #printing first word
    print(str[0])

    #printing second letter to fourth letter
    print(str[1:4])

    #printing fifth letter to last letter
    print(str[4:])

    #printing uptil fourth letter
    print(str[:4])

H
ell
oWorld
Hell

In [35]:
# List datastructure

"""
Similar to array
Mutable
Can store multiple types of data
"""

list1=[50, 50.5, 50+5j, "Akash Technolabs"]

print(list1[1])

print(list1[3],"currently has", list1[0],"Interns")

50.5
Akash Technolabs currently has 50 Interns

In [37]:
# Tuple datastructure

"""
Similar to list
but Immutable
"""

tuple1=(60, 60.5, 60+5j, "Akash Technolabs")

print(tuple1[:2])

tuple1[2]=60+10j

(60, 60.5)

TypeError: 'tuple' object does not support item assignment

In [38]:
# Dictionary datastructure

"""
Store in key-value pairs
like a hash table
"""

dict1={1: 10, 2: 'twenty', 'key': 123}

print(type(dict1))

print("Your name is",dict1[2],"and your appointment number is",dict1['key'])

<class 'dict'>
Your name is twenty and your appointment number is 123